:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* We remove the default body styles from here.
  The body is now 100% controlled by App.css, 
  allowing our theme's background-color to work correctly.
*/
body {
  margin: 0;
}